body{
    background-image: url("resources/stpats_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#up_button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70%;
    text-align: right;
}

.menu{
    background-color: yellow;
    top: 0;
}

a:link{
    color: green;
    text-decoration: none;
}

a:visited{
    color: green;
    text-decoration: none;
}

a:hover{
    color: #00FF00;
    text-decoration: none;
}

a:active{
    color: green;
    text-decoration: none;
}

li{
    display: inline;
    vertical-align: middle;
    padding: 40px;
    text-align: center;
    font-family: "Verdana", sans-serif;
}

img{
    width: 7.25%;
    height: auto;
}

h1, pre, p{
    font-family: "Verdana", sans-serif;
    text-align: center;
    padding: 0% 5% 0% 5%;
}

.alumpics{
    width: 19.72%;
    height: auto;
}

.alumpics:hover{
    opacity: 0.7;
}

.sections{
    background-color: white;
    color: black;
    border: 3px solid black;
    margin: 20px;
}
